@import "tailwindcss";
@import "./theme.css";

/* Global Reset: Remove all default margin and padding from root elements */
html, body, #root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  background-color: var(--color-yellow-50);
  font-family: var(--font-display);
  font-size: 20px;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
}



